*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

/* immagini/colori background */

.bg-celeste-chiaro{
    background-color: #f4f9fd;
    width: 100%;
}

.bg-bianco{
    background-color: white;
    width: 100%;
}

.bg-img{
    background-image: url("img/jumbotron.png");
    width: 100%;
    height:970px;
    background-size: cover;
   }

.bg-verde{
    background-color: #afebe4;
    width: 100%;
    height: 160px;
}

.bg-verde-a{
    background-color: #00bba8;
}

.bg-nero{
    background-color: #32495b;
}

.bg-red{
    background-color: red;
    height: 500px;
}

.bg-blue{
    background-color: blue;
}



/* prima sezione */

.prima-sezione hr{
    background-color: #33475b;
    height: 3px;
    border-width:0;
}

.wrapper-1{
    width: 70%;
}

.wrapper-2{
    width: 42%;  
}

#scelta-lingua{
    background-color: transparent;
    border: none;
    border-right: 1px solid gray;
    vertical-align: middle;
}



/* allineamenti */

.text-a{
    text-align: center;
}

.vertical-am{
    vertical-align: middle ;
}

.vertical-at{
    vertical-align: top ;
}



/* Margini */

.marg-a{
    margin:auto;
}

.margin-0{
    margin: 0;
}

.margin-right-10px{
    margin-right: 10px;

}

.margin-right-50px{
    margin-right: 50px;

}

.margin-tb-30px{
    margin: 30px 0;
}

.margin-2x{
    margin-right: 2%;
    margin-left: 2%;
}

.margin-top-200{
    margin-top: 200px;
}


/* Padding */

.padding-5px{
    padding: 5px;
}

.padding-10px{
    padding: 10px;
}

.padding-15px{
    padding: 15px;
}

.padding-20px{
    padding: 20px;
}

.padding-50px{
    padding: 50px;
}

.padding-top-50px{
    padding-top: 50px;
}

.padding-right-5px{
    padding-right: 5px;
}


/* float e clearfix */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-l{
    float: left;
}


.float-r{
    float: right;
}



/* bottoni */

.login-b{
    background-color: white;
    border-radius: 5px;
    color: #fe775a;
    border-color: #fe775a;
}

.white-b{
    background-color:white;
    border-radius: 5px;
    color: #33475b;
    border-color:transparent;
}

.orange-b{
    background-color:#fe775a;
    border-radius: 5px;
    color: white;
    border-color: #fe775a;
}

button{
    margin: 10px;
}



/* width */

.width-10{
    width: 10%;
}

.width-20{
    width: 20%;
}

.width-15{
    width: 15%;
}

.width-24{
    width: 24%;
}

.width-30{
    width: 30%;
}

.width-32{
    width: 32%;
}

.width-40{
    width:40%;
}

.width-50{
    width:50%;
}

.width-60{
    width:60%;
}

.width-70{
    width: 70%;
}

.width-100{
    width: 100%;
}



/* selettori avanzati */

nav div > img{
    vertical-align: middle;
}

.special-c .float-l{
    width: 25%;
}

.bg-verde-a .special-c .clearfix:first-child{
    border-bottom: 1px solid white;
}

.bg-verde-a .special-c .border-br{
    border-right: 1px solid white;
}

.bg-verde-a .special-c .border-br:last-child{
    border-right: transparent;
}

p{
    margin: 10px 0;
    line-height: 40px;
    font-size: 23px;
    color: gray;
}


h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
   
}

h2{
    font-size: 40px;
}
    
h3, h4{
    font-size: 30px;
}



.wrapper-2 > button{
    padding: 20px 40px;
}


/* altro */

.inline-b{
    display: inline-block;
}

.border-right-w{
    border-right: 1px solid white;
}

/* height */

.h-50{
    height: 50px;
}

.lh-50{
    line-height: 50px;
}

.h-100{
    height: 100px;
}

.lh-100{
    line-height: 100px;
}

/* position */

.position-r{
    position:relative;
}

.position-a{
    position:absolute;
}