*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

/* immagini/colori background */

.bg-celeste-chiaro{
    background-color: #f4f9fd;
    width: 100%;
    height: 200px;
}

.bg-bianco{
    background-color: white;
    height: 200px;
    width: 100%;
}

.bg-img{
    background-image: url("img/jumbotron.png");
    width: 100%;
    height:770px;
    background-size: cover;
   }

.bg-verde{
    background-color: #afebe4;
    width: 100%;
    height: 190px;
}

/* immagini/colori background */




/* prima sezione */

/* hr prima sezione */

.prima-sezione hr{
    background-color: #33475b;
    height: 3px;
    border-width:0;
}

.wrapper-1{
    width: 70%;
}

#scelta-lingua{
    background-color: transparent;
    border: none;
    border-right: 1px solid gray;
    vertical-align: middle;
}

/* prima sezione */





/* Margini */

.marg-a{
    margin:auto;
}

/* Margini */




/* Padding */

.padding-5px{
    padding: 5px;
}

.padding-10px{
    padding: 10px;
}

.padding-15px{
    padding: 15px;
}

.padding-20px{
    padding: 20px;
}

.padding-right-5px{
    padding-right: 5px;
}

/* Padding */




/* float e clearfix */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-l{
    float: left;
}


.float-r{
    float: right;
}

/* float e clearfix */

/* bottoni */

.login-b{
    background-color: white;
    border-radius: 5px;
    color: #fe775a;
    border-color: #fe775a;
}

.orange-b{
    background-color:#fe775a;
    border-radius: 5px;
    color: white;
    border-color: #fe775a;
}

/* bottoni */
